@using ProductsMvcDbFirst.Models.Products
@model ProductDetails

<h1>Product Details</h1>

<h2>Name: @Model.Name</h2>
<p>Brand: @Model.Brand</p>
<p>Wholesale Cost: @Model.WholesaleCost</p>
<p>Price: @Model.Price</p>
<p>Current Stock: @Model.CurrentStock</p>
<p>Last Updated: @Model.LastUpdated</p>